DATABASE_URL="postgresql://avnadmin:password@pg-blognetwork-prsprojekat.d.aivencloud.com:15406/blog_network_db"

CLERK_SECRET_KEY="sk_test_tajni_kljuc"

CLERK_WEBHOOK_SECRET="whsec_webhook_secret"

SESSION_SECRET="..."

IMAGEKIT_PRIVATE_KEY=private_...

VITE_IK_PUBLIC_KEY=public_...

VITE_IK_URL_ENDPOINT=https://ik.imagekit.io/...