@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #f97316;
    --color-primary-accent: #c2410c;
    --color-background: #ffffff;
    --color-textcolor: #000000;
  }

  .theme-blog-network {
    --color-primary: #f97316;
    --color-primary-accent: #c2410c;
    --color-background: #e2e2e2;
    --color-textcolor: #000000;
  }

  .theme-etfbl {
  --color-primary: #0d6efd;
  --color-primary-accent: #0d6efd;
  --color-background: #f8f9fa;
  --color-textcolor: #000000;
}

  .theme-dark {
  --color-primary: #000000;
  --color-primary-accent: #000000;
  --color-background: #121212;
  --color-textcolor: #32CD32;
 }
}

body {
  background-color: var(--color-background);
  color: var(--color-textcolor); 
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrta", sans-serif;
}
