@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #f97316;
    --color-primary-accent: #c2410c;
    --color-background: #ffffff;
    --color-textcolor: #000000;
  }

  .theme-blog-network {
    --color-primary: #f97316;
    --color-primary-accent: #c2410c;
    --color-background: #ffffff;
    --color-textcolor: #000000;
  }

  .theme-etfbl {
    --color-primary: #1d4ed8;
    --color-primary-accent: #1e3a8a;
    --color-background: #ffffff;
    --color-textcolor: #000000;
  }

  .theme-dark {
    --color-primary: #340034;
    --color-primary-accent: #561256;
    --color-background: #000000;
    --color-textcolor: #ffffff;
  }
}

body {
  background-color: #e6e6e6;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrta", sans-serif;
}
